@import "loader.scss";

* {
	box-sizing: border-box;
}

#smart-page-container {
	min-height: 600px;
}

#smart-message-container {
	display: none;
	text-align: center;
	padding: 20%;
}

.overlay {
	background: #bdbcb9;
	opacity: 0.7;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@media screen and (max-width: 600px) {
	#smart-page-container {
		min-height: 100%;
	}
}
