@import "./spinner.scss";
.plugin-container {
	margin: 50px;
	padding: 10px;
}

.gform_wrapper * {
	box-sizing: border-box;
}

.gform_fields {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(auto-fill, auto);
	grid-column-gap: 2%;
	grid-row-gap: 16px;
}

.gform_wrapper .gfield_required {
	color: #c02b0a;
	display: inline-block;
	font-size: 13.008px;
	padding-left: 0.125em;
}

.gfield {
	grid-column: 1/-1;
}

.ginput_container textarea {
	width: 100%;
}

.ginput_complex label,
.ginput_complex legend {
	display: block;
}

fieldset {
	border: 1px solid #fcaf3b !important;
	border-radius: 5px;
	display: block;
	margin: 0;
}

fieldset,
legend {
	background: 0 0;
	padding: 0;
}

fieldset input:not([type="checkbox"]),
fieldset textarea {
	width: 100%;
}

legend {
	margin-left: 0;
	margin-right: 0;
}

.ginput_complex {
	display: flex;
	flex-flow: row wrap;
}

.ginput_complex:not(.ginput_container_address)
	span:not([style*="display:none"]):not(.ginput_full) {
	padding-right: 1%;
}

.ginput_complex span {
	flex: 1;
}

.gfield.gfield--width-full {
	grid-column: span 12;
}

.gfield_label {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 8px;
	display: inline-block;
	padding: 0;
}

.description,
.gfield_description,
.gsection_description,
.instruction {
	font-size: 15px;
	line-height: inherit;
	clear: both;
	font-family: inherit;
	letter-spacing: normal;
	padding-top: 13px;
	width: 100%;
}

.gfield_list_group,
.gfield_list_header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 8px;
}

.gfield_header_item,
.gform_fileupload_rules,
.ginput_complex label {
	font-size: 15px;
	padding-top: 5px;
}

.gfield_header_item,
.gfield_list_group_item {
	flex-grow: 1;
	width: 0;
}

.gfield_header_item + .gfield_header_item:not(:last-child),
.gfield_list_group_item + .gfield_list_group_item {
	margin-left: 2%;
}

.gfield_list_group:last-child {
	margin-bottom: 0;
}
.gfield_header_item:last-child,
.gfield_list_icons {
	width: 8%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gfield_list_group_item input,
.gfield_list_group_item select {
	width: 100%;
}

.gfield input,
.gfield select {
	max-width: 100%;
}

.gfield input.large,
.gfield select.large {
	width: 100%;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
	background-color: #fff;
}

.gfield-choice-input + label {
	max-width: calc(100% - 32px);
	margin-bottom: 0;
	vertical-align: middle;
}

.gfield-choice-input {
	display: inline-block;
	margin-top: 0;
	top: 0;
	vertical-align: middle;
}

.gfield_checkbox label,
.gfield_radio label {
	display: inline-block;
	font-size: 15px;
}

.gfield_list_icons button:focus,
.gfield_list_icons button:hover {
	opacity: 1;
	outline: 0;
}

.gfield_list_icons button {
	font-size: 0;
	background: transparent url(../../assets/images/icons/plus.svg);
	background-repeat: no-repeat;
	border: none;
	width: 25px;
	height: 25px;
	opacity: 1;
	padding: 0;
	transition: opacity 0.5s ease-out;
}

.gfield_list_icons button.delete_list_item {
	margin-left: 5px;
	background-image: url(../../assets/images/icons/minus.svg);
}

.gfield textarea.large {
	height: 288px;
}

.submit-button {
	display: flex;
	justify-content: center;
}

@media (max-width: 640px) {
	.plugin-container {
		margin: 20px;
		padding: 10px;
	}

	.gform_fields {
		grid-column-gap: 0;
	}

	.ginput_complex span {
		flex: 0 0 100%;
		padding-left: 0;
		margin-bottom: 8px;
	}

	.ginput_complex span {
		flex: 0 0 100%;
		padding-left: 0;
		margin-bottom: 8px;
	}

	.ginput_container textarea {
		height: 200px;
		width: 100%;
	}

	.gfield:not(.gfield--width-full) {
		grid-column: 1/-1;
	}

	.gfield_header_item,
	.gfield_list_group_item {
		width: auto;
	}

	.gfield_list_header {
		display: none;
	}

	.gfield_list_group:last-child {
		margin-bottom: 0;
	}

	.gfield_list_group_item:not(:last-child) {
		margin-bottom: 8px;
	}

	.gfield_list_group {
		display: block;
		border: 1px solid rgba(241, 238, 238, 0.2);
		padding: 16px;
		margin-bottom: 16px;
	}

	.gfield_list_group_item:not(:last-child) {
		margin-bottom: 8px;
	}

	.gfield_list_group_item:before {
		content: attr(data-label);
		font-size: 14.992px;
	}

	.gfield_header_item + .gfield_header_item:not(:last-child),
	.gfield_list_group_item + .gfield_list_group_item {
		margin-left: 0;
	}

	.gfield_list_group_item:not(:last-child) {
		margin-bottom: 8px;
	}

	.gfield_list_icons {
		width: auto;
		background-color: rgba(0, 0, 0, 0.1);
		margin: 16px -16px -16px;
		padding: 12px 16px;
		line-height: 0;
		text-align: left;
	}
}

@media only screen and (max-width: 641px) {
	input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
		line-height: 2;
		min-height: 32px;
	}
}
