#smart-page-container {
	display: flex;
	min-height: 600px;
	justify-content: center;
}

.smart-register-form {
	padding-top: 20px;
}

.details {
	display: flex;
}

.user-details {
	display: flex;
	flex-wrap: nowrap;

	& div {
		display: flex;
		margin: 10px;
		flex-direction: column;
		width: 100%;
		> input {
			width: 100%;
			flex-grow: 1;
		}
	}

	& label {
		display: inline;
		font-size: 15px;
	}
}

.field-container {
	margin-bottom: 20px;
	& label {
		display: inline;
		font-size: 15px;
	}
	.choice-input {
		display: inline;
		margin-top: 0;
		top: 0;
		vertical-align: middle;
	}

	.checkbox-inline {
		display: inline;
	}
}

@media screen and (max-width: 680px) {
	#smart-page-container {
		width: 100%;
		margin-top: 0;
	}

	.user-details {
		flex-wrap: wrap;

		& div {
			margin: 0;
			padding-top: 5px;
			justify-self: center;
		}
	}
	.submit-button {
		text-align: center;
	}
	.submit-register-form {
		width: 80%;
	}
}
