p {
	line-height: 32px;
}

h2 {
	line-height: 32px;
}

form .error {
	color: #ff0000;
	font-size: 12px;
}

#smart-page-container {
	display: flex;
	flex: 1;
	justify-content: center;
	min-height: 600px;
}

.smart-register-form {
	padding: 32px 20px;
	width: 100%;
	margin: 32px;
	border: #fcaf3b;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
}

.user-details {
	display: flex;
	flex-wrap: nowrap;

	& div {
		display: flex;
		margin: 10px;
		flex-direction: column;
		width: 100%;
		> input {
			width: 100%;
			flex-grow: 1;
			font-size: 14px;
		}
	}

	& label {
		display: inline;
		font-size: 12px;
	}
}

.gender {
	position: relative;
	left: 10px;

	> label {
		font-size: 14px;
	}

	> input {
		width: 100%;
		flex-grow: 1;
	}
}

.user-agreement {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	left: 10px;
	& label {
		display: inline;
		font-size: 15px;
	}
	.choice-input {
		display: inline;
		margin-top: 0;
		top: 0;
		vertical-align: middle;
	}

	.checkbox-inline {
		display: inline;
	}

	& a.conditions {
		color: #fcaf3b;
		text-decoration: none;
		cursor: pointer;
	}
}

.success-message {
	font-size: 28px;
	font-weight: 600;
}

.submit-button {
	left: 0;
	width: 100%;
	text-align: center;
}
.submit-register-form {
	width: 180px;
}

@media screen and (max-width: 680px) {
	#smart-page-container {
		width: 100%;
		margin-top: 0;
	}

	.smart-register-form {
		padding: 12px 4px;
		width: 95%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.user-details {
		margin: 12px;
		flex-wrap: wrap;

		& div {
			margin-top: 4px;
			justify-self: center;
		}
	}

	.gender {
		left: 24px;

		> label {
			font-size: 12px;
		}
	}

	.submit-button {
		left: 0;
		width: 100%;
		text-align: center;
	}
	.submit-register-form {
		width: 50%;
	}

	.user-agreement {
		margin-top: 14px;
		margin-right: 24px;
		left: 24px;
		& .checkbox-group-label {
			font-size: 12px;
		}
		& label {
			word-wrap: break-word;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	#smart-page-container {
		width: 100%;
		margin-top: 0;
	}

	.smart-register-form {
		padding: 12px 4px;
		width: 95%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.user-details {
		margin: 12px;
		flex-wrap: wrap;

		& div {
			margin-top: 4px;
			justify-self: center;
		}
	}

	.gender {
		left: 24px;

		> label {
			font-size: 12px;
		}
	}

	.submit-register-form {
		width: 50%;
	}

	.user-agreement {
		margin-top: 14px;
		margin-right: 24px;
		left: 24px;
		& .checkbox-group-label {
			font-size: 12px;
		}
		& label {
			word-wrap: break-word;
		}
	}
}
